.mk-table-container {
    max-width: 600px;
}

.mk-table {
    background-color: #212121;
    width: 600px;
    max-width: 600px;
    padding: 20px;
    color: white;
}

.mk-table .header {
    background-color: #050505;
    padding: 10px;
    margin-bottom: 20px;
}

.mk-table .header-details {
    font-size: 0.8rem;
}

.header-img {
    max-width: 100px;
}

.header-img img {
    display: block;
    max-height: 50px;
    max-width: 100%;
    margin: auto;
}

.header .texts {
    text-align: center;
}

.sub-table {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2;
    border: 3px solid black;
}

.sub-table thead {
    text-decoration: bold;
    border-bottom: 3px solid black;
}

.sub-table tbody tr {
    border-bottom: 1px solid black;
}

.sub-table td, .sub-table th {
    border-right: 1px solid black;
}

.sub-table .tr-penalty {
    border-top: 3px solid black;
}

.sub-table th, .tr-penalty, .tr-total {
    background-color: #282829;
}

.bg-team.home {
    background-color: #2f9aff;
}

.bg-team.away {
    background-color: #b52b73;
}

.bg-race-score {
    background-color: #161616
}
