/*--------------- GENERAL ---------------*/

body {
    background-color: #25292d;
    color: white;
}

a {
    transition: all 0.2s ease;
}
a:hover {
    text-decoration: none;
}

.btn-primary-dark {
    background:#214a80;
    color: white;
}
.btn-primary-dark:hover, .btn-primary-dark:active {
    background:#1a3a63;
    outline:none;
    color: white;
}
.btn-primary-dark.disabled, .btn-primary-dark:disabled {
    background-color: #214a80;
    border-color: #214a80;
}
.btn-primary-dark:active {
    transform:translateY(1px);
}

.modern-form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}
