.loading-spinner {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border: 7px solid rgba(0,0,0,0.5);; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
